@charset "utf-8";
/* CSS Document */
.swiper-wrapper .q-content{
    overflow: scroll;
}
.container{
}

.p-h1{
    font-family:minijianyaya67562;
	margin: 0;
    padding: 7% 0;
	color: #333;
	font-size: 2rem;
	line-height: 3rem;
	letter-spacing: 0.2rem;
	text-align: left;
}

.p-h2{
	text-align: right;
}
.p-color{
	color: #d30469;
}
.q-time{
	display: none;
}
.p-p1
,.p-p2{
	font-family:minijianyaya67562;
    padding: 0;
	color: #000;
	font-size: 1.4rem;
	line-height: 2rem;
	text-indent: 3.2rem;
	letter-spacing: 0.2rem;
	text-align: left;
}